<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CSP - API RESTful - UMG - Symfony2">
    <meta name="author" content="Victor Cifuentes Méndez - Creyent">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CSP_Private_API{% block title %}{% endblock %} - by Creyent</title>

    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <!-- Custom styles for this site -->
    {% stylesheets
        'bundles/cspbase/css/carousel.css'
        'bundles/cspbase/css/colorbox.css'
        'bundles/mwsimplecrudgenerator/css/bootstrap-checkbox.css'
        'bundles/mwsimplecrudgenerator/css/crud.css'
        output="css/styles.css"
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% endblock %}
  </head>

  <body>
    <!-- NAVBAR ================================================== -->
    {% block navbar %}
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('home') }}">CSP</a>
            </div>
            <div class="navbar-collapse collapse">
                {{ knp_menu_render('CSPBaseBundle:Builder:mainMenu', { 'style': 'navbar' }) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ knp_menu_render('CSPBaseBundle:Builder:adminMenu', { 'style': 'navbar' }) }}
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ knp_menu_render('CSPBaseBundle:Builder:userMenu', { 'style': 'navbar' }) }}
                    {{ knp_menu_render('CSPBaseBundle:Builder:sideMenu', { 'style': 'navbar-right' }) }}
                    <div class="navbar-text navbar-right">
                        Conectado como <a href="{{ path('fos_user_profile_show') }}" class="navbar-link">{{ app.user }}</a>&nbsp;&nbsp;
                    </div>
                {% else %}
                    <a class="hidden-xs navbar-text navbar-link navbar-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Iniciar sesión
                    </a>
                    <a class="visible-xs navbar-text navbar-link navbar-right" href="{{ path('fos_user_security_login') }}">
                        Iniciar sesión
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse navbar-right">
                        <div class="panel-body navbar-right">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Usuario" id="username" name="_username" required="required">
                                <span class="input-group-addon">*</span>
                                <input type="password" class="form-control" placeholder="Contraseña" id="password" name="_password" required="required" />
                                <span class="input-group-addon">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                </span>
                                <span class="input-group-addon">Rec.</span>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">Entrar</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% block carousel1 %}
        <div class="item active">
          <img src="{{ asset('bundles/cspbase/images/Logo UMG by Creyent.png') }}" alt="UMG" class="img-polaroid"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        {% endblock %}
        {% block carousel2 %}
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        {% endblock %}
        {% block carousel3 %}
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    {% endblock %}
    
    {% block jumbotron %}
    <div class="" style="
        background-image: url({{ asset('bundles/cspbase/images/Banner.png') }});
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 20.60%;    /* (img-height / img-width * width) */
                                /* (150 / 728 * 100) = 20.60% */
	">
        {% block encabezado %}
        {% endblock %}
    </div>
    <br>
    {% endblock %}
    
    <div class="container">
    {% block menu %}{% endblock %}

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block page %}{% endblock %}
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      {% block marketing %}
      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% block tripleta1 %}
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        {% endblock %}
        {% block tripleta2 %}
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        {% endblock %}
        {% block tripleta3 %}
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        {% endblock %}
      </div><!-- /.row -->
      {% endblock %}

      {% block featurettes %}
      <!-- START THE FEATURETTES -->
      {% block featurettes1 %}
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
      {% endblock %}

      {% block featurettes2 %}
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      {% endblock %}

      {% block featurettes3 %}
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
      {% endblock %}

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      {% endblock %}

      <!-- FOOTER -->
      {% block footer %}
        <footer>
            <p class="text-muted pull-right"><a href="#">Volver arriba</a></p>
            <p>&copy; <a href="{{ path('about') }}" data-toggle="tooltip" data-placement="top" title="Victor Cifuentes">Cr3y3nt</a> &REG; ^ <a href="http://www.umg.edu.gt/" rel="tooltip" data-placement="top" title="Universidad Mariano Gálvez">UMG</a> ^ San Marcos, Guatemala &middot; 2014
        </footer>
      {% endblock %}

    </div><!-- /.container -->

    {% block javascript %}
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <!-- Include all JavaScripts, compiled by Assetic -->
    {% javascripts
        '@CSPBaseBundle/Resources/public/js/jquery.js'
        '@CSPBaseBundle/Resources/public/js/script.js'
        '@CSPBaseBundle/Resources/public/js/jquery.colorbox-min.js'
        output="js/main.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endjavascripts %}
    {% endblock %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/bootstrap-checkbox.js') }}"></script>
  </body>
</html>
